.collection-swiper {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

.collection-info-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 0px 20px 20px 20px;
}

.collection-info-inner > span {
  text-align: center;
  margin-bottom: 20px;
}

.collection-info-inner > a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 12px;
}

.collection-info-inner > h2 {
  font-family: 'Pragmatica';
}

@media screen and (max-width: 750px) {
  .collection-swiper {
    flex-direction: column;
  }
}

.collection-info-container {
  display: flex;
  justify-content: center;
}
.carousel-container {
  overflow: hidden;
}

.carousel-img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  aspect-ratio: 2/3;
  object-fit: cover;
}


.sc-bdVaJa.etbmwA {
  cursor: pointer;
}

/* > .right-arrow {
  position: absolute;
  top: -2px;
  right: 30px;
  cursor: pointer;
} */

.sc-ifAKCX.bqyzQp {
  display: flex;
}